
{% extends 'main/base.html' %}
<!-- take everything from -->
{% block title %}
Create Account
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
   <form method="POST" class="form-group" action="{% url 'post-clearbit-data' %}" name="emailForm" id="emailForm" style="text-align: center;">
       {% csrf_token %}
       <input type="email" id="email"  name="email" placeholder="*Email" style="margin: 15px;"><br>
     
       <button type="submit" class="btn btn-success">Post</button>
   </form>

   <script>
    var formData = JSON.stringify($("#emailForm").serializeArray());
    $.ajax({
        type: "POST",
        url: "serverUrl",
        data: formData,
        success: function(){},
        dataType: "json",
        contentType : "application/json"
    });


    </script>
{% endblock %}