

{% extends 'main/base.html' %}
{% block head %}
 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    {% block title %}
    Food App
    {% endblock %}

{% endblock %}

{% block content %}
{% load crispy_forms_tags %}  
<style>
    body {
background: #fff;
font: 13px 'Open Sans', sans-serif;
color: #222;
}
.recipe-card {
-webkit-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
-moz-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
border:1px solid #f0f1f3;
width: 300px;
margin: 50px auto;
}
.recipe-card__body {    
padding: 20px;
}
.recipe-card__heading {
padding: 0;
margin: 0 0 0;
color: #444;
}
.recipe-card__subhead {
font-size: 13px;
color: #555;
margin-bottom: 30px;
}
.recipe-card__ingredients {
list-style: none;
margin: 0;
padding: 0;
margin-left: 10px;
column-count: 1;
}
li {
margin-bottom: 5px;
}
li:before {
content: '\2022';
color: #eb9376;
margin-right: 5px;
}


.recipe-card__nav {
margin: 0 0 20px;
padding: 0;
border-bottom: 1px solid #eb9376;
}
li {
display: inline-block;
margin-right: 30px
}
h3 {
margin: 0;
padding: 0;
}
h3:after {
content: '';
display: block;
width: 0%;
padding-top: 10px;
margin: 0 auto;
border-bottom: 5px solid #eb9376;
transition: width 250ms ease-in-out 0s;
}
h3:hover {
cursor: pointer;
}
h3:hover:after, h3.active:after {
width: 100%; 
}


@media (min-width:599px) {
.recipe-card {
width: 600px
}
.recipe-card__ingredients {
column-count: 2
}
}

h2{
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}
.rating {
  --dir: right;
  --fill: gold;
  --fillbg: rgba(100, 100, 100, 0.15);
  --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --starsize: 3rem;
  --symbol: var(--star);
  --value: 1;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: var(--w);
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
  margin-top: 20px;  
}
[dir="rtl"] .rating {
  --dir: left;
}
.rating::-moz-range-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-webkit-slider-runnable-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-moz-range-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
}
.rating::-webkit-slider-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
  -webkit-appearance: none;
}
.rating, .rating-label {
  display: block;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
.rating-label {
  margin-block-end: 1rem;
}

/* NO JS */
.rating--nojs::-moz-range-track {
  background: var(--fillbg);
}
.rating--nojs::-moz-range-progress {
  background: var(--fill);
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--star);
}
.rating--nojs::-webkit-slider-runnable-track {
  background: var(--fillbg);
}
.rating--nojs::-webkit-slider-thumb {
  background-color: var(--fill);
  box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
  opacity: 1;
  width: 1px;
}
[dir="rtl"] .rating--nojs::-webkit-slider-thumb {
  box-shadow: var(--w) 0 0 var(--w) var(--fill);
}
</style>

    <div class="container py-5">
      
        <h1 style="text-align: center;">Get recipes</h1>

        {% for i in recipe %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <div class='recipe-card' id="myForm">
            <!-- <div style="background:url(https://d2gk7xgygi98cy.cloudfront.net/6267-3-large.jpg) no-repeat 50% 50%; background-size:cover; height: 150px"></div> -->
            <div class="recipe-card__body">
                <h1 class="recipe-card__heading">{{i.title}}</h1>
                <div id="containerIntro">              
                    <input
                    class="rating"
                    max="5"
                    readonly
                    step="0.01"
                    style="--fill:#777;--value:{{i.rating}}"
                    type="range"
                    value="3.37">
                  
                    
                </div>
                <ul class="recipe-card__nav">
                    <ol style="text-align: center;">
                        <h3 class="active">Ingredients</h3>
                    </ol>

                    <ul class="recipe-card__ingredients" style="margin: 15px;">
                        
                        <li>&frac14; {{i.ingredient}}</li>
                     
                    </ul>
                    
                 
                </ul>
                <ul class="recipe-card__nav">
                   
                    
                    <ol style="text-align: center;">
                        <h3 class="active">Method</h3>
                    </ol>

                    <ul class="recipe-card__ingredients">
                        <li>&frac14; {{i.recipe}}</li>
                        
                    </ul>
                </ul>
                <h2 class="recipe-card__subhead" ><strong>{{i.author}}</strong></h2>
                <script src="https://use.fontawesome.com/fe459689b4.js"></script>
                <form method="post" action="{% url 'post-recipe' %}">{% csrf_token %}
                  <input id="author" class="form-control" type="number" name="author">
                </form>
            </div>
        </div>
            <br>
    </div>
  
    

        {% endfor %}
        <!-- <form class="uniForm blueForms" method="get" action="{% url 'food' %}">{% csrf_token %}
            

            <input class="btn btn-primary" type="submit" value="submit" style="margin: 10px;">
        

        </form> -->
{% endblock %}

<!-- 
{
    #     "title": "asfasf",
    #     "ingredient": "bbbb", 
    #     "recipe": "asfadfgcvb", 
    #     "author":"sfxbbb",
    #     "rating":1
    
    # } -->