

{% extends 'main/base.html' %}
{% block head %}
 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    {% block title %}
    Food App
    {% endblock %}

{% endblock %}

{% block content %}
{% load crispy_forms_tags %}  
    <h1>Post Recipe</h1>
    <div class="container py-5">
        {% for i in recipe %}
            <br>
            <strong>{{i.title}} </strong>
            <strong>{{i.ingredient}} </strong>
            <strong>{{i.recipe}} </strong>
            <strong>{{i.author}} </strong>
            <strong>{{i.rating}} </strong>
        {% endfor %}
        <form class="uniForm blueForms" method="get" action="{% url 'food' %}">{% csrf_token %}
            

            <input class="btn btn-primary" type="submit" value="submit" style="margin: 10px;">
        

        </form>
    </div>
{% endblock %}

<!-- 
{
    #     "title": "asfasf",
    #     "ingredient": "bbbb", 
    #     "recipe": "asfadfgcvb", 
    #     "author":"sfxbbb",
    #     "rating":1
    
    # } -->